@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__block {
  margin-top: 30px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  line-height: 44px;
}

body {
  background-image: url("../img/background-subway-shop.jpg");
  font-size: 18px;
  min-height: 1vh;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.main__block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__block {
  padding-right: 30px;
}

.navbar__top {
  text-align: center;
  border: 2px solid grey;
  border-radius: 2%;
  background-color: white;
}

.navbar__bottom {
  margin-top: 40px;
}

.navbar__basket-block {
  border: 2px solid grey;
  border-radius: 10px;
}

.menu__item {
  padding: 10px 20px;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.menu__item:hover {
  background-color: orange;
  color: white;
}

.basket__flex {
  font-family: initial;
  font-family: initial;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basket__header {
  padding: 15px 10px;
  color: white;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: orange;
  border-bottom: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.basket__icon {
  padding-left: 10px;
  position: relative;
}

.basket__title {
  padding: 5px 10px 0 0;
}

.basket__body {
  position: relative;
  background-color: #ebda7a;
}

.basket__footer {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  background-color: #ebda7a;
}

.basket__btn {
  padding: 10px 10px 20px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ebda7a;
}

.basket__btn button {
  position: relative;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 0 black;
          box-shadow: 0px 5px 0 black;
  background-color: gray;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.basket__btn button:active {
  top: 3px;
  -webkit-box-shadow: 0px 1px 0 black;
          box-shadow: 0px 1px 0 black;
}

.fa-solid {
  position: relative;
}

.icon-shadow {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: 5px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.icon-shadow::after {
  position: absolute;
  content: '';
  top: 15px;
  left: -11px;
  width: 35px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.body__top {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-weight: 600;
}

.body__top::after {
  position: absolute;
  content: '';
  width: 90%;
  height: 2px;
  bottom: 0;
  background-color: orange;
}

.body__bottom {
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-big {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}

.container-middle {
  margin: 0 auto;
  max-width: 900px;
}
